:root {
  --text-color: black;
  --inverse-text-color: #c7c7c7;
  --accent-color: #cc9900;
  --inverse-accent-color: #ffff99;
  --hover-color: #7a5d05;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html, #root, .App {
  height: 100%;
  width: 100%;
}

.nowrap {
  white-space: nowrap;
}

.centered {
  text-align: center;
}

.bare-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h3 {
  padding: 0;
  margin: 0;
}

.no-selection {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.horizontal-list > li {
  display: inline-block;
}

.clickable {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.clickable {
  color: var(--accent-color);
}

.clickable:visited {
  color: black;
}

.clickable:hover {
  color: var(--hover-color);
}

.clickable.inverse {
  color: var(--inverse-text-color);
}

.clickable.inverse:visited {
  color: var(--inverse-text-color);
}

.clickable.inverse:hover {
  color: var(--inverse-accent-color);
}

svg.clickable.inverse:hover {
  color: var(--inverse-text-color);
}

.main-content {
  color: black;
  padding: 20px;
  min-height: calc(100VH - 160px);
}

.main-content-card {
  border: 1px solid var(--inverse-text-color);
  box-shadow: 3px 3px #888888;
  background: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 50%;
  }
}


@keyframes slideUp {
  from {
    bottom: -500px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    top: -500px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    left: -500px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    right: -500px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

.homepage-section {
  background: white;
  padding-top: 20px;
  color: var(--text-color);
  padding-bottom: 50px;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  transition: 1s all ease;
  opacity: 0;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.homepage-section h1 {
  text-align: center;
}

.homepage-section-text {
  position: relative;
  width: 80%;
  margin: auto;
  font-size: larger;
  padding: 30px;
}

.firefall-background-image {
  max-width: 100vw;
  max-height: calc(100vh - 160px);
}

.python-background-image {
  max-width: 80vw;
  max-height: 60vh;
  opacity: 0.5;
}

.bash-background-image {
  max-height: 70vh;
  max-width: 70vw;
  opacity: 0.5
}

.js-background-image {
  max-width: 70vw;
  max-height: 70vh;
  opacity: 0.5
}

.music-background-image {
  max-width: 50vw;
  max-height: 40vh;
  opacity: 0.5
}