.firefallBackgroundImage {
  max-width: 100vw;
  max-height: calc(100vh - 60px);
}

.bashBackgroundImage {
  max-height: 70vh;
  opacity: 0.5
}

.jsBackgroundImage {
  max-width: 70vw;
  max-height: 70vh;
  opacity: 0.5
}

.musicBackgroundImage {
  max-width: 50vw;
  max-height: 40vh;
  opacity: 0.5
}